---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER KEY&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619608798,"sunrise":1619611423,"sunset":1619661047,"temp":35.58,"feels_like":29.17,"pressure":1014,"humidity":90,"dew_point":32.95,"uvi":0,"clouds":100,"visibility":104,"wind_speed":8.05,"wind_deg":334,"wind_gust":15.01,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"rain":{"1h":2.73}},"hourly":[{"dt":1619607600,"temp":35.58,"feels_like":29.17,"pressure":1014,"humidity":90,"dew_point":32.95,"uvi":0,"clouds":100,"visibility":104,"wind_speed":8.05,"wind_deg":334,"wind_gust":15.01,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":0.99,"rain":{"1h":1.73}},{"dt":1619611200,"temp":36.46,"feels_like":31.17,"pressure":1015,"humidity":91,"dew_point":34.09,"uvi":0,"clouds":100,"visibility":124,"wind_speed":6.55,"wind_deg":327,"wind_gust":15.43,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":0.99,"rain":{"1h":2.37}},{"dt":1619614800,"temp":37.71,"feels_like":32.86,"pressure":1015,"humidity":92,"dew_point":35.6,"uvi":0.13,"clouds":100,"visibility":319,"wind_speed":6.24,"wind_deg":316,[...]
