---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP KEY&location=seattle,wa&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Apr 2021 11:19:56 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"seattle,wa"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Seattle","adminArea5Type":"City","adminArea4":"King
        County","adminArea4Type":"County","adminArea3":"WA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039223","unknownInput":"","type":"s","latLng":{"lat":47.603229,"lng":-122.33028},"displayLatLng":{"lat":47.603229,"lng":-122.33028},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP
        KEY&type=map&size=225,160&locations=47.603229,-122.33028|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-49675305"}]}]}'
  recorded_at: Wed, 28 Apr 2021 11:19:56 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER KEY&exclude=minutely,alerts&lat=47.603229&lon=-122.33028&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.6032,"lon":-122.3303,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1619608797,"sunrise":1619614581,"sunset":1619666213,"temp":46.87,"feels_like":46.87,"pressure":1025,"humidity":81,"dew_point":41.36,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":2.89,"wind_deg":161,"wind_gust":4.47,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1619607600,"temp":46.87,"feels_like":46.87,"pressure":1025,"humidity":81,"dew_point":41.36,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":2.89,"wind_deg":161,"wind_gust":4.47,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619611200,"temp":46.2,"feels_like":46.2,"pressure":1025,"humidity":83,"dew_point":41.34,"uvi":0,"clouds":14,"visibility":10000,"wind_speed":2.62,"wind_deg":182,"wind_gust":3.36,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1619614800,"temp":45.39,"feels_like":45.39,"pressure":1025,"humidity":86,"dew_point":41.45,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":2.48,"wind_deg":179,"wind_gust":2.8,"weather":[{"id":802,"main":"Clo[...]
