---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP KEY&location=seattle,wa&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Apr 2021 21:59:11 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"seattle,wa"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Seattle","adminArea5Type":"City","adminArea4":"King
        County","adminArea4Type":"County","adminArea3":"WA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039223","unknownInput":"","type":"s","latLng":{"lat":47.603229,"lng":-122.33028},"displayLatLng":{"lat":47.603229,"lng":-122.33028},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP
        KEY&type=map&size=225,160&locations=47.603229,-122.33028|marker-sm-50318A-1&scalebar=true&zoom=12&rand=181660845"}]}]}'
  recorded_at: Mon, 26 Apr 2021 21:59:08 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER KEY&exclude=minutely,alerts&lat=47.603229&lon=-122.33028&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.6032,"lon":-122.3303,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1619474351,"sunrise":1619441984,"sunset":1619493244,"temp":57.78,"feels_like":55.65,"pressure":1014,"humidity":51,"dew_point":39.79,"uvi":4.61,"clouds":75,"visibility":10000,"wind_speed":3.44,"wind_deg":0,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619470800,"temp":57.58,"feels_like":55.47,"pressure":1014,"humidity":52,"dew_point":40.1,"uvi":3.95,"clouds":76,"visibility":10000,"wind_speed":3.33,"wind_deg":296,"wind_gust":4.09,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.71,"rain":{"1h":0.12}},{"dt":1619474400,"temp":57.78,"feels_like":55.65,"pressure":1014,"humidity":51,"dew_point":39.79,"uvi":4.61,"clouds":75,"visibility":10000,"wind_speed":3.06,"wind_deg":312,"wind_gust":4.07,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.75},{"dt":1619478000,"temp":57.79,"feels_like":55.72,"pressure":1014,"humidity":52,"dew_point":40.32,"uvi":3.27,"clouds":77,"visibility":10000,"wind_speed":3.06,"wind_deg":315,"wind_gust":4.16,"weathe[...]
