---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP KEY&location=dfslkjhg3w7io5yt938w7yv5o837wqv5rvt%20gb3wqo8745rnvy%20&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Apr 2021 23:30:01 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"dfslkjhg3w7io5yt938w7yv5o837wqv5rvt
        gb3wqo8745rnvy "},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP
        KEY&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=-419590554"}]}]}'
  recorded_at: Mon, 26 Apr 2021 23:29:58 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER KEY&exclude=minutely,alerts&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1619479801,"sunrise":1619437395,"sunset":1619486667,"temp":91.06,"feels_like":86.97,"pressure":995,"humidity":16,"dew_point":38.68,"uvi":0.54,"clouds":12,"visibility":10000,"wind_speed":15.01,"wind_deg":171,"wind_gust":27,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1619478000,"temp":90.32,"feels_like":86.45,"pressure":995,"humidity":18,"dew_point":41.11,"uvi":1.56,"clouds":12,"visibility":10000,"wind_speed":15.79,"wind_deg":186,"wind_gust":26.69,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1619481600,"temp":91.06,"feels_like":86.97,"pressure":995,"humidity":16,"dew_point":38.68,"uvi":0.54,"clouds":12,"visibility":10000,"wind_speed":14.34,"wind_deg":169,"wind_gust":28.01,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1619485200,"temp":88.23,"feels_like":84.88,"pressure":995,"humidity":22,"dew_point":44.62,"uvi":0,"clouds":11,"visibility":10000,"wind_speed":21.47,"wind_deg":175,"wind_gust":40.49,"weather":[{"id":801,"ma[...]
